.calendar__blocks {
    position: absolute;
    top: 30px;
    left: 8%;
    width: 92%;
    height: calc(100% - 25px);
    pointer-events:none;
}


.block__daycol {
    width: calc(100% / 5);
    display: inline-block;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.block__section {
    position: absolute;
    color: #FFF;
    border-radius: 5px;
    font-size: 11px;
    background-color: #999;
    padding: 2px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    pointer-events: auto;
    cursor: pointer;
}

.block__section span {
    display: table-cell;
    vertical-align: middle;
}

.calendar__row {
    
}
    .calendar__row--days {
        height: 30px;
        text-transform: uppercase;
    }
    .calendar__block {
        width: calc(92% / 5);
        height: 25px;
        padding: 0px;
        background-color: #FFF;
    }
    .calendar__block--break {
        background-color: #ccc;
    }
    .calendar__block--time {
        width: 8%;
    }