/* .btn {
    padding: 10px;
    border-radius: 3px;
    background-color: #DDD;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    display: inline-block;
    font-family: Montserrat;
    font-size: 11px;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
  }
   */
.remove-btn-parent {
    position: relative;
}

.remove-btn-parent:hover .remove-btn {
    display: inline-block;
}
.remove-btn {
    display: none;
    position: absolute;
    top: 0px;
    right:0px;
    cursor: pointer;
}
.remove-btn i {
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    border: 2px solid #b1b1b1;
    color: #949494;
    background-color: #fff;
}
.btn:hover {
    color: #fff;
    background-color: #9c9c9c;
    border: 2px solid #9c9c9c;
}
.btn-icon > i {
    display: inline-flex;
    vertical-align: top;
    margin-right: 10px;
}
.btn-icon > span {
    line-height: 26px;
}