.header {
    background-color: var(--header-background-color);
    color: #fff;
    box-shadow: -3px 2px 3px grey;
    z-index: 100;
}
    .header > div {
        display: flex;
        align-items: center;
    }
    .header span {
        padding: 5px;
    }

.logo {
    justify-content: center;
    font-size: 40px;
    font-weight: bold; 
    /* background-color:#123B5C;
    color: white; */
    border-right: 1px solid #ddd;
    min-width: 300px;
    font-family: Amatic SC;    
    
    z-index: 100;
}



