html, body, #root, .App {
    height: 100%;
}
.App {
    min-width: 1000px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "header header"
        "side-panel calendar"
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 20% auto;
}
    

.side-panel {
    grid-area: side-panel;
    width: 100%;
    height: 100%;
}

.calendar {
    grid-area: calendar;
    width: 100%;
    height: 100%;
}
