.side-panel {
    background-color: #F0F8FF;
    min-width: 300px;
}

.side-panel > div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.control__container {
    background-color: #EEE;
    border-radius: 2px;
    overflow: hidden;
    width: 90%;
}
