.time-widget__terms {
    margin-top: 10px;
}
.time-widget__term {
    font-size: 12px;
}
.time-widget__days {
    margin: 20px;    
}
.time-widget__day {
    display: inline-block;
    padding: 7px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0px 3px;
    font-size: 12px;
    font-weight: 500;
    width: 40px;
}
.time-widget__btn--selected {
    background-color: rgba(0,0,0,0.15); 
    color: #FFF;
}

.time-widget__input-container > * {
    margin: 5px;
}

.time-widget__input {
    padding: 3px;
    border-radius: 3px;
    border: none;
}

span.time-widget__span {
    color: #525252;
}
.time-widget__add-btn {
    font-size: 11px;
    padding: 3px 12px;
    border: 2px solid #6197ff;
    color: #6197ff;
    margin: 15px 5px;
}
.time-widget__add-btn > i {
    margin-right: 5px;
}
.time-widget__add-btn:hover {
    background-color: #6197ff;
    color: #fff;
    border: 2px solid #6197ff;
}

.panel__data-container  {
    display: none;
    transition: height .25s;
}
.panel__data-container--selected {
    display: block;    
}


.panel__data {
    line-height: 25px;
    background-color: #fff;
    width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
}
.panel__data__component {
    margin: 5px;
}
.panel__data__remove-btn {
    display: inline-flex;
    vertical-align: top;
    color: #ffa29b;
    font-weight: bold;
}
.panel__data__remove-btn:hover {
    cursor: pointer;
    color: #ff1100;
}