.calendar__table-container {
    display: inline-block;
}
.calendar__table {
    table-layout: fixed;
    width: 500px;
    overflow: visible;
    color: #000;
    border-collapse: collapse;
    border-spacing: 0px;
    background-color: #ddd;
}