.time-widget__terms {
    margin-top: 10px;
}
.time-widget__term {
    font-size: 12px;
}
.time-widget__days {
    margin: 20px;    
}
.time-widget__day {
    display: inline-block;
    padding: 7px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0px 3px;
    font-size: 12px;
    font-weight: 500;
    width: 40px;
}
.time-widget__btn--selected {
    background-color: rgba(0,0,0,0.15); 
    color: #FFF;
}

.time-widget__input-container > * {
    margin: 5px;
}

.time-widget__input {
    padding: 3px;
    border-radius: 3px;
    border: none;
}

span.time-widget__span {
    color: #525252;
}
.time-widget__add-btn {
    font-size: 11px;
    padding: 3px 12px;
    border: 2px solid #6197ff;
    color: #6197ff;
    margin: 15px 5px;
}
.time-widget__add-btn > i {
    margin-right: 5px;
}
.time-widget__add-btn:hover {
    background-color: #6197ff;
    color: #fff;
    border: 2px solid #6197ff;
}